/* HERO START */
.hero {
  background: url("../img/hero_img.jpg") center center / cover no-repeat fixed #000000;
  height: calc(100vh - 70px);
  padding-bottom: 80px;
  // margin-top: 70px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.hero__subtitle {
  margin-bottom: 1px;
}

.hero__title {
  margin-bottom: 18px;
}

.hero__desc {
  color: #c0c0c0;
  margin-bottom: 14px;
  max-width: 50%;
  text-align: center;
  @include m800 {
    max-width: 80%;
    margin-bottom: 20px;
  }
}

/* HERO END */
/* WWD START */
.what-we-do {
  background: center center / cover no-repeat scroll #000000;
  // padding: 120px 0 100px;
  padding-top: 120px;
  padding-bottom: 100px;
  @include adaptiv-value("padding-top", 120, 80, 1);
  @include adaptiv-value("padding-bottom", 100, 80, 1);
}

.what-we-do__title {
  margin-bottom: 15px;
}
.what-we-do__subtitle {
  margin-bottom: 40px;
}
.card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-right: -16px;
  @include m800 {
    margin-right: 0;
  }
}
.card__item {
  height: 100%;
  flex: 1 1 calc(50% - $gap * 0.5);
  &:nth-child(2n) {
    margin-right: 0;
  }
  @include m800 {
    flex: 1 1 calc(100% - $gap * 0.5);
  }
}
.card__item-pic {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.card__item-img {
  width: 100%;
}
.card__item-caption {
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 100%;
  padding: 20px;
}
.card__item-title {
  margin-bottom: 20px;
}
.card__item-desc {
  color: $mygray;
}
.card__item-readmo {
  position: absolute;
  bottom: 5%;
  left: 20px;
  width: 143px;
  padding: 8px;
  background: #ffffff;
  border-radius: 14px;
}
.card__item-link {
  display: inline-block;
  position: relative;
  padding: 6px 0 6px 40px;
  transition: 0.5s;
  &:hover {
    width: 100%;
    color: #fff;
    z-index: 1;
  }

  &::before {
    content: "";
    display: inline-block;
    margin: 0 auto;
    border-radius: 45%;
    width: 35px;
    height: 35px;
    background: #000;
    margin-right: 10px;
    vertical-align: middle;
    transition: 0.5s;

    position: absolute;
    left: 0;
    bottom: -2px;
    // min-width: 4px;
  }
  &:hover::before {
    min-width: 80%;
    background: #000;
    margin-right: 0;
    left: 19%;
    border-radius: 10px;
    z-index: -1;
  }
}
/* WWD END */
/* GEAR_CAGE START */
.gear-cage {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.gear-cage__box {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  & > .gear-cage__subtitle,
  & > .gear-cage__title,
  & > .gear-cage__desc {
    @include adaptiv-value("margin-left", 1050, 20, 0);
    margin-right: $gap;
    margin-bottom: 10px;
    @include m800 {
      margin-left: auto;
      margin-right: auto;
      padding: 0 $gap * 0.5;
    }
  }

  & > .card__item-readmo {
    position: initial;
    // margin-left: 100px;
  }

  & > .extra-list {
    margin-top: 200px;
    margin-bottom: 40px;
    @include m800 {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &:first-child,
  &:nth-child(4) {
    grid-column: 1 / span 2;
  }
  &:first-child {
    background: url("../img/gear-cage-1.jpg") center center / cover no-repeat fixed #000;
  }
  &:nth-child(2) {
    background: center center / cover no-repeat fixed #000;
    justify-content: center;
    align-items: flex-start;
    @include adaptiv-value("padding-right", 100, 20, 0);
    @include adaptiv-value("padding-left", 100, 20, 0);
    & > .gear-cage__subtitle,
    & > .gear-cage__title,
    & > .gear-cage__desc {
      margin-left: 0;
      margin-right: 0;
      padding: 0;
    }
    & > .gear-cage__subtitle {
      color: $mygray;
      letter-spacing: 2px;
    }

    & > .gear-cage__title {
      font-size: 28px;
      color: white;
    }

    & > .gear-cage__desc {
      color: white;
      margin-bottom: 20px;
    }
    @include m800 {
      grid-column: 1 / span 2;
    }
  }
  &:nth-child(3) {
    background: url("../img/gear-cage-3.jpg") center center / cover no-repeat scroll #000;
    & > .extra-list {
      @include adaptiv-value("margin-left", 400, 20, 0);
    }
    @include m800 {
      grid-column: 1 / span 2;
    }
  }
  &:nth-child(4) {
    background: url("../img/gear-cage-4.jpg") center center / cover no-repeat fixed #000;
  }
}

.gear-cage__title {
  text-align: left;
}

.gear-cage__desc {
  color: $mygray;
}

.gear-cage__box > .extra-list {
  margin-top: 200px;
  margin-bottom: 40px;
}
/* GEAR_CAGE END */
/* CLIENTS START */
.clients {
  background: #000;
  padding: 120px;
  @include adaptiv-value("padding", 120, 80, 1);
}

.clients__title {
  margin-bottom: 15px;
}
.clients__subtitle {
  margin-bottom: 80px;
}
.clients__logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 109px;
  @include adaptiv-value("gap", 109, 60, 1);
}

.clients__logos-img {
  transform: translateY(100%);
  opacity: 0;
  transition-delay: 0.5s;
  &.show {
    transform: translateY(0);
    opacity: 1;
  }
}
/* CLIENTS END */
/* HIMALAYAS START */

.himalayas__box {
  background: url("../img/himalayas.jpg") center center / cover no-repeat fixed #000;
}

/* HIMALAYAS END */
/* HELP START */
.help {
  background: #000;
  padding: 110px 0;
  @include adaptiv-value("padding-top", 110, 100, 1);
  @include adaptiv-value("padding-bottom", 110, 100, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.help__title {
  margin-bottom: 20px;
  max-width: 570px;
}
.help__subtitle {
  margin-bottom: 25px;
}
.help .card__item-readmo {
  position: initial;
  width: 154px;
}
/* HELP END */
